<div class="modal fade" id="removeItemModal" tabindex="-1" role="dialog" aria-labelledby="verifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow-lg">
            <div class="modal-body" style="font-family: 'Montserrat', sans-serif; font-size: 16px; color: #333;">
                <p>Are you sure you want to remove this item from {{ currentContainer }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="primary-btn" data-dismiss="modal" style="background-color: #6c757d; border: none; color: #fff; font-family: 'Montserrat', sans-serif;">
                    Cancel
                </button>
                <a href="#" class="primary-btn confirm-remove" style="background-color: #D10024; border: none; color: #fff; font-family: 'Montserrat', sans-serif;">
                    Remove
                </a>
            </div>
        </div>
    </div>
</div>