{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-4">
        <div class="card shadow-sm p-4">
            <h1 class="mb-3">Statistics</h1>

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block header %}
    {% include 'admin_fragments/header.html.twig' %}
    {% include 'admin_fragments/navigation.html.twig' with {'role': "home"} %}
{% endblock %}


{% block footer %}
    {% include 'admin_fragments/footer.html.twig' %}
{% endblock %}
